body,
html {
    margin: 0;
    height: 100%;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
#map-container {
    width: 100%;
    height: 100%;
    position: relative;
}
#topContainer {
    width: 100%;
    height: 2.0em;
    position: relative;
}
#centerContainer {
    width: 100%;
    height: calc(100% - 3.5em);
    position: relative;
}
#bottomContainer {
    width: 100%;
    height: 1.5em;
    position: relative;
}
#map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.notification-bar {
    width: 100%;
    height: 1.5em;
    display: table;
}
.notification-bar > div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.notification-bar .message-bar {
    width: 60%;
}
.notification-bar .ol-mouse-position {
    text-align: center;
    position: static;
}
.notification-bar #projection {
    width: 15%;
    text-align: center;
}
.notification-bar #projection select {
    font-size: small;
    background: none;
    border: none;
    outline: 0;
}
body .lm_content {
    border: 0;
}
body .lm_item,
body .lm_stack {
    outline: 0.5px solid grey;
}