.datatree {
    width: 100%;
    height: 100%;
    float: left;
}

#datatree .semantic-full {
    width: 100%;
    height: calc(100% - 2.0em);
}

#datatree .semantic-menu {
    height: 2.0em;
    padding: 0 2px 0 2px ;
}

#datatree .ui.segment {
    padding: 0 0 0 0;
}

#datatree .ui[class*="top attached"].segment {
    margin-top: 0;
}

#datatree .ui.bottom.tabular.menu .item {
    border-radius: 0 0 .28571429rem .28571429rem;
    border-color: rgb(212, 212, 213);
}

#datapanel tbody tr {
    min-height: 1.0em;
    height: 1.0em;
}

#datapanel tbody tr td {
    padding: 0.3em 0.3em 0.3em 0.3em;
}

#datapanel thead th {

}