.datatree {
    width: 100%;
    height: 100%;
    float: left;
}

#datatree .semantic-full {
    width: 100%;
    height: calc(100% - 2.0em);
}

#datatree .semantic-menu {
    height: 2.0em;
    padding: 0 10px 0 10px ;
}

#datapanel tbody tr {
    min-height: 1.0em;
    height: 1.0em;
}

#datapanel tbody tr td {
    padding: 0.3em 0.3em 0.3em 0.3em;
}

#datapanel thead th {

}